@font-face {
  font-family: 'MNR2007';
  src: url('/fonts/MNR2007.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.MNR2007 {
  font-family: 'MNR2007', sans-serif;
  line-height: 1;
}

input:focus {
  outline: none;
  box-shadow: none;
}

body { 
  margin: 0;
}

#map { 
  height: 100%;
}

.leaflet-bottom .leaflet-control-zoom {
  right: 128;
}

.leaflet-bottom .leaflet-control-locate {
  right: 128;
}

#mkk-logo {
  position: absolute;
  z-index: 1000;
  bottom: 30;
}